#alarmAlert {
	position: absolute;
	width: 150px;
	top: 35px;
	text-align: center;
	display: inline-block;
	margin: 0px 25% 25% 25%;
	
}
#div_hltHeatPower .alert {
	height: 10px;
}

#mashZonePanel .panel-body {
	padding: 0px;
}

#boilZonePanel .panel-body {
	padding: 0px;
}

#mashMinutes {
	width: 100px;
}
#mashHours {
	width: 90px;
}
#boilMinutes {
	width: 100px;
}
#boilHours {
	width: 90px;
}
